/bot-env
/.idea
__pycache__/
/cogs/__pycache__/
/ChetBot_Feedback.txt
/ChetBot.log
/apikeys.py
/cogs/Testing.py
/WorkingFiles/FilesToCreate/
/WorkingFiles/FilesToCombine/
/WorkingFiles/FilesToConvert/
/WorkingFiles/AudioFilesToUse/
/WorkingFiles/FilesToUpload/
/WorkingFiles/Databases/TicketingJSON.json